streamlit==1.20.0
pandas==1.5.3
numpy>=1.26.0
requests==2.28.1
beautifulsoup4==4.11.1
pickleshare==0.7.5
openpyxl==3.0.9
OpenDartReader==0.2.3
streamlit_lottie==0.0.5
selenium==4.9.1
webdriver_manager==3.8.6
html5lib

